<section class="projects" id="projects">
    <h2 class="heading">Projects</h2>
    <div class="projects-container">

        <div class="projects-box">
            <img src="" alt="">
            <div class="projects-info">
                <h4>Back-end Developer</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quod? Obcaecati itaque nobis officiis? Necessitatibus labore dignissimos, odio atque eaque omnis quaerat fuga recusandae, enim iusto doloribus id voluptatum architecto.</p>
                <a href="#"><i class="bx bx-link"></i></a>
            </div>
        </div>

        <div class="projects-box">
            <img src="" alt="">
            <div class="projects-info">
                <h4>Front-end Developer</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quod? Obcaecati itaque nobis officiis? Necessitatibus labore dignissimos, odio atque eaque omnis quaerat fuga recusandae, enim iusto doloribus id voluptatum architecto.</p>
                <a href="#"><i class="bx bx-link"></i></a>
            </div>
        </div>

        <div class="projects-box">
            <img src="" alt="">
            <div class="projects-info">
                <h4>Game Developer</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quod? Obcaecati itaque nobis officiis? Necessitatibus labore dignissimos, odio atque eaque omnis quaerat fuga recusandae, enim iusto doloribus id voluptatum architecto.</p>
                <a href="#"><i class="bx bx-link"></i></a>
            </div>
        </div>

    </div>

</section>